<!DOCTYPE html>
<html>
<head>
  <%- include('./partials/head.ejs')%>
  <title>Reset Password</title>
  <link rel="stylesheet" href="/stylesheet/style.css">
</head>
<body>
   <%- include("./partials/nav.ejs") %>
  <div class="container mt-4">
    <h1>Reset Password</h1>
    <form action="/user/resetpass/<%= user ? user.passResetToken :"" %>" method="post" id="resetPasswordForm">
      <% if (user && !user?.passResetToken) { %>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Old Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" name="oldPassword">
        </div>        
      <% } %>
      <div class="mb-3">
        <label for="exampleInputPassword2" class="form-label">New Password</label>
        <input type="password" class="form-control" id="exampleInputPassword2" name="newPassword">
      </div>
       <input type="hidden" name="salt" value="<%=user?.salt%>">
       <input type="hidden" name="email" value="<%=user?.email%>">
      <div class="mb-3">
        <label for="exampleInputPassword3" class="form-label">Confirm Password</label>
        <input type="password" class="form-control" id="exampleInputPassword3" name="confirmPassword" >
      </div>

      <button class="btn btn-primary" >Submit</button>
    </form>
  </div>
   <%- include ("./partials/footer.ejs") %>
  <%- include ("./partials/script.ejs") %>
</body>

</html>